<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="file" name="kibana" fileName="c:\AppLogs\sitemonitor/log-sitemonitor.json">
        <layout xsi:type="JsonLayout" includeAllProperties="Boolean" excludeProperties="Comma-separated list (string)">
            <attribute name="Time" layout="${longdate:universalTime=false}" />
            <attribute name="UTCTime" layout="${longdate:universalTime=true}" />
            <attribute name="Level" layout="${level:upperCase=true}"/>
            <attribute name="Message" layout="${message}" />
            <attribute name="ProcessId" layout="${processid}" />
            <attribute name="ThreadId" layout="${threadid}" />
            <attribute name="Exception" layout="${exception}">
            <attribute name="Logger" layout="${logger}">
            <attribute name="ServiceName" layout="${event-properties:ServiceName">
            <attribute name="CorrelationId" layout="${event-properties:CorrelationId}">
            <attribute name="Hostname" layout="${event-properties:Hostname}">
       </layout>
    </target>
    <target xsi:type="Console" name="console"
        layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="kibana,console" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
